@import '../../../styles/variables';

.game-board {
  height: 100%;
  .info {

    .info-block {
      display: inline-block;
      padding: 4px;
      margin: 4px;
      h3 {
        margin: 0;
        color: $light-blue-400;
        display: inline-block;
      }
    }
  }
  .hurry-up {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    color: $red-600;
    font-weight: bold;
    display: inline-block;
    animation: pulse 0.7s infinite;
  }
  .hint-time {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    color: $light-green-600;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cells {
  user-select: none;
  margin: 8px auto 0;
  &.cells-4 {
    max-width: 400px;
    max-height: 400px;
    .cell {
      width: 24%;
      height: 24%
    }
  }
  &.cells-6 {
    max-width: 600px;
    max-height: 600px;
    .cell {
      width: 15%;
      height: 15%
    }
  }
  &.cells-8 {
    max-width: 800px;
    max-height: 800px;
    .cell {
      width: 11%;
      height: 11%
    }
  }
  .cell {
    display: inline-block;
    border: 1px solid #222b30;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    margin: 1px;
    border-radius: 2px;
    position: relative;
    &.opacity {
      opacity: 0.5;
    }
    &:hover {
      background-color: #efefef;
      border-color: #6075ac;
    }
    img {
      max-width: 100%;
      vertical-align: middle;
    }
    .emptyImage {
      background-color: $grey-700;
      display: inline-block;
      width: 100%;
      height: 100%;
      &:hover {
        background-color: $grey-800;
      }
    }
  }
}

.cancel-game {
  margin-top: 16px;
  .button {
    min-width: 120px;
    background-color: $red-600;
    color: #fff;
  }
}
