@import '../../../styles/variables';

.lose-page {
  h2 {
    font-size: 4rem;
    color: $red-600;
    text-transform: uppercase;
    margin: 32px 0 0;
  }

  .info {
    margin-top: 16px;
    font-size: 1.2rem;
    display: inline-block;
    width: 280px;
    text-align: left;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: normal;
      margin: 0;
      display: inline-block;
      color: $light-blue-400;
    }
    p {
      margin: 0;
    }
  }
  .buttons {
    margin-top: 16px;
  }
}
